.projectContainer {
    width: 90%;
    min-height: 400px;
    height: calc(100vh - 150px);
    background-color: var(--backgroundColor);
    color: white;
    padding: 10px 25px;
    overflow: auto;
  }