.projectContainer {
    width: 100%;
    min-height: 400px;
    height: calc(100vh - 150px);
    background-color: var(--backgroundColor);
    color: white;
    padding: 10px 25px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  /* General CSS */
:root {
  --border-radius: 5px;
}

/* Horizontal Menu */

.horiz-menu {
  height: 90%;
  width: 95%;
  min-width: 650px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border: 2px solid darkgray;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 6px rgba(255, 255, 255, .2);
}

.horiz-card {
  height: 100%;
  width: 50px;
  background: black;
  color: white;
  transition: all .5s cubic-bezier(1,.13,.32,.85);
  flex-grow: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.horiz-card:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.horiz-card:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* Card content and divs */

.content {
  height: 100%;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all .5s cubic-bezier(1,-0.02,1,.69);
  position: relative;
  justify-content: center;
  align-items: flex-start;
}

.facts {
  width: 100%;
  height: fit-content;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.factsList {
  width: 100%;
  height: fit-content;
  padding: 10px;
  list-style-type: none;
  background: var(--textBackgroundColor);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: nowrap;
  box-shadow: 2px 2px 4px black;
}

.fact{
  width: 100%;
  height: fit-content;
  text-align: left;
  white-space: pre-wrap;
}

.firstWord {
  font-weight: bold;
}

.menuPic {
  max-width: 100%;
  object-fit: contain;
}

/* utility css classes */

.grow {
  background: var(--faded-amaranth-red);
  height: 100%;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  cursor: default;
}

.hideNode {
  display: none;
}

.showNode {
  display: flex;
}

.fadeOutNode {
  opacity: 0;
}

.fadeInNode {
  opacity: 1;
}