.jobContainer {
    width: 90%;
    min-height: 200px;
    height: calc(100vh - 150px);
    background-color: var(--backgroundColor);
    color: white;
    padding: 40px 25px;
    overflow: auto;
}

@media (width < 650px) {
    .jobContainer{
        height: calc(100vh - 150px);
    }
}