.jobContainer {
    width: 90%;
    min-height: 200px;
    height: calc(100vh - 150px);
    background-color: var(--backgroundColor);
    color: white;
    padding: 20px 25px;
    overflow: auto;
}

.resumeLink {
    color: white;
    margin-bottom: 5px;
    display: block;
}

.resumeLink:visited {
    color: red;
}

@media (width < 650px) {
    .jobContainer{
        height: calc(100vh - 100px);
    }
}