:root {
  --backgroundColor: #323232;
  --secondaryBackgroundColor: #5D5C61;
  --textBackgroundColor: rgb(243, 243, 243);
  --headerBackgroundColor: rgba(0,0,0,.4);
  --headerHeight: 150px;
  --nameFontSize: 24px;
  --titleFontColorA: white;
  --jobDutiesHover: #938e94;
  --amaranth-red: rgb(211, 47, 57);
  --faded-amaranth-red: rgb(211, 47, 57, .5);
}

/* CSS to prevent user selection of text */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: var(--backgroundColor);
}

img, video {
    height: 100%;
    width: 100%;
}

body {
    height: 600px;
    background-color: var(--backgroundColor);
    color: white;
    overflow: hidden;
}

.App {
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.aboutMeContainer {
    width: 95%;
    min-height: 300px;
    height: calc(100vh - 150px);
    background-color: var(--backgroundColor);
    color: white;
    padding: 10px 25px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.profilePicture {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 50%;
    transition: all .25s ease-out;
}

.profilePicture img {
  border-radius: inherit;
}

.aboutMeContent {
    background: var(--textBackgroundColor);
    color: black;
    height: 80%;
    width: 60%;
    padding: 10px;
    margin: auto;
    flex-grow: 1;
    border: 1px solid white;
    border-radius: 5px;
    transition: all .25s ease-out;
    text-align: left;
    overflow: auto;
}

.aboutMeContent h2 {
  margin-bottom: 10px;
}

.aboutMeContent h3 {
  width: fit-content;
  margin: 20px auto;
}

.backgroundList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

.backgroundItem {
  padding: 5px 10px;
  width: fit-content;
  list-style-position: inside;
  border: 2px solid black;
  border-radius: 50px;
  background: var(--amaranth-red);
  color: white;
}

.contactMeContainer {
    width: 90%;
    min-height: 400px;
    height: calc(100vh - 150px);
    background-color: var(--backgroundColor);
    color: white;
    padding: 10px 25px;
    overflow: auto;
}

.contactForm {
  width: 60%;
  margin: 0 auto;
  transition: all .5s ease-out;
}

.contactForm div {
  width: 100%;
}

#email, #message {
  width: 100%;
}

@media (width < 600px) {
  .aboutMeContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
  }

  .profilePicture {
    width: 100px;
    height: 100px;
  }

  .aboutMeContent {
    width: 95%;  
  }

  .contactForm {
    width: 100%;
  }
}
