:root {
  
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, video {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(237, 242, 244);
}

header {
  width: 100%;
  height: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}